<!-- <div class="small-logo"><span class="logo-secondary-color">roots</span></div> -->
<div class="logo-wrapper">
	<div class="logo">
		<span class="logo-color">roots</span>
		<span class="grey-color">.ai</span></div>
</div>